*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(0,0,0,0.8);
    font-family: 'Poppins', sans-serif;
    z-index: 10;
}
nav{
    height: inherit;
}
nav ul{
    height: inherit;
    display: flex;
}
nav li{
    position: relative;
    height: inherit;
    list-style: none;
    padding: 0 20px;
}
header a{
    height: inherit;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(255,255,255,0.9);
    font-size: 1.1em;
    transition: color 0.5s;

}
nav a:hover{
    color: white;
    transition: color 0.5s;
}
.login{
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
}
.login ion-icon{
    font-size: 1.5em;
    transition: all 0.4s;
}
.login ion-icon:hover{
    transform: scale(1.1);
    transition: all 0.4s;
}
.loginConnexion{
    border: solid;
    background: transparent;
    color: white;
    font-size: 1.1em;
    padding: 0.7em 1em;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 0.5s;
}
.loginConnexion:hover{
    background: rgba(255,255,255,0.1);
    box-shadow: 0.1em 0.1em  rgba(255,255,255,0.7),
                inset 0.1em 0.1em rgba(255,255,255,0.7);
    transition: all 0.5s;            
}

/* //--------Background Header-------- */
.backgroundHeader{
    z-index: -1;
    position: relative;
    height: 350px;
    /* background: radial-gradient(farthest-corner at 20% 40%, rgb(204, 204, 204) 0%, rgba(0, 0, 0, 0.8) 100%); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.backgroundHeader h1, .backgroundHeader h3{
    margin-left: 100px;
    z-index: 1;
    color: rgba(0,0,0,0.9);
}
.backgroundHeader h1{
    font-size: 3.5em;
    font-weight: 600;
    font-family: 'Zen Kurenaido', sans-serif;
}
.backgroundHeader h3{
    font-size: 2.5em;
    font-weight: 500;
    font-family: 'Dancing Script', cursive;
}
.bubulle{
    position: absolute;
    transform: translateY(0px);
    top: -150px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.7);  
}
.bulle{
    position: absolute;
    top: 60%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: -1;
}
